<a href="https://colab.research.google.com/github/hunar0710/Real-time-data-ingestion-Final-Project/blob/main/Real_time_data_ingestion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Install required Python packages: PySpark for Spark processing, delta-spark for Delta Lake support
!pip install pyspark==3.4.1 delta-spark faker schedule

Collecting pyspark==3.4.1
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting delta-spark
  Downloading delta_spark-4.0.0-py3-none-any.whl.metadata (1.9 kB)
Collecting faker
  Downloading faker-37.4.2-py3-none-any.whl.metadata (15 kB)
Collecting schedule
  Downloading schedule-1.2.2-py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark==3.4.1) (0.10.9.7)
INFO: pip is looking at multiple versions of delta-spark to determine which version is compatible with other requirements. This could take a while.
Collecting delta-spark
  Downloading delta_spark-3.3.2-py3-none-any.whl.metadata (2.2 kB)
  Downloading delta_spark-3.3.1-py3-none-any.whl.metadata (1.9 kB)
Requirement already satisfied: importlib-metadata>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from delta-spark) (8.7.0)
  Downloading delta_spark-3.3.0-py3-none-any.whl.metadata (2.0 kB)
  Downloading delta_spark-3.2.1-py3-none-any.whl.metadata (1.9 kB)
  Downloading delta_spark-3.2.0-py3-none-any.whl.metadata (2.0 kB)
  Downloading delta_spark-3.1.0-py3-none-any.whl.metadata (1.9 kB)
  Downloading delta_spark-3.0.0-py3-none-any.whl.metadata (2.0 kB)
INFO: pip is still looking at multiple versions of delta-spark to determine which version is compatible with other requirements. This could take a while.
  Downloading delta_spark-2.4.0-py3-none-any.whl.metadata (1.9 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from faker) (2025.2)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.11/dist-packages (from importlib-metadata>=1.0.0->delta-spark) (3.23.0)
Downloading delta_spark-2.4.0-py3-none-any.whl (20 kB)
Downloading faker-37.4.2-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 95.8 MB/s eta 0:00:00
Downloading schedule-1.2.2-py3-none-any.whl (12 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285391 sha256=c6b330d8ad864e942b5c0238273f0890c3b714adfaf3e5afe1e59b5a188fcf59
  Stored in directory: /root/.cache/pip/wheels/e9/b4/d8/38accc42606f6675165423e9f0236f8e825f6b6b6048d6743e
Successfully built pyspark
Installing collected packages: schedule, pyspark, faker, delta-spark
  Attempting uninstall: pyspark
    Found existing installation: pyspark 3.5.1
    Uninstalling pyspark-3.5.1:
      Successfully uninstalled pyspark-3.5.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
dataproc-spark-connect 0.8.2 requires pyspark[connect]~=3.5.1, but you have pyspark 3.4.1 which is incompatible.
Successfully installed delta-spark-2.4.0 faker-37.4.2 pyspark-3.4.1 schedule-1.2.2

In [ ]:
# Step 2: Create and configure the Spark session with Delta Lake support and set the timezone to Asia/Kolkata
from pyspark.sql import SparkSession
from delta import configure_spark_with_delta_pip
builder = SparkSession.builder \
    .appName("DeltaTableColab") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.sql.warehouse.dir", "/content/delta-warehouse")
spark = configure_spark_with_delta_pip(builder).getOrCreate()
spark.conf.set("spark.sql.session.timeZone", "Asia/Kolkata")

In [ ]:
# Step 3: Generate fake data using the Faker library
from faker import Faker
import pandas as pd
fake = Faker()
def generate_fake_data(n=5):
    data = [{
        "Name": fake.name(),
        "Address": fake.address(),
        "Email": fake.email()
    } for _ in range(n)]
    return pd.DataFrame(data)

In [ ]:
# Step 4: Append the generated fake data to a Delta Lake table
from pyspark.sql import DataFrame
def append_to_delta(df: pd.DataFrame, path: str):
    spark_df = spark.createDataFrame(df)
    spark_df.write.format("delta").mode("append").save(path)
    print("Appended data:")
    spark.read.format("delta").load(path).show()

In [ ]:
# Step 5: Generate an HTML summary of the DataFrame
def generate_html_summary(df: pd.DataFrame):
    return df.to_html(index=False)

In [ ]:
# Step 6: Track and display the version history of the Delta table
from delta.tables import DeltaTable
def track_versions(path: str):
    delta_table = DeltaTable.forPath(spark, path)
    print(" Delta Table Version History:")
    delta_table.history().show(truncate=False)

In [ ]:
# Step 7: Define and run the complete data ingestion pipeline
def run_pipeline():
    delta_path = "/content/delta-table"
    df = generate_fake_data()
    append_to_delta(df, delta_path)
    html_summary = generate_html_summary(df)
    from IPython.display import display, HTML
    display(HTML(html_summary))
    track_versions(delta_path)

In [ ]:
# Step 8: Schedule the ingestion pipeline to run every 5 minutes
import schedule
import time
schedule.every(5).minutes.do(run_pipeline)
print(" Starting the ingestion pipeline (runs every 5 mins)...")
while True:
    schedule.run_pending()
    time.sleep(1)

 Starting the ingestion pipeline (runs every 5 mins)...
Appended data:
+---------------+--------------------+--------------------+
|           Name|             Address|               Email|
+---------------+--------------------+--------------------+
|   Steven Allen|6842 Christy Port...|   cyang@example.net|
| Katie Matthews|8861 Pham Skyway\...| karla52@example.com|
|James Patterson|2624 Carter Gatew...|  xbaker@example.net|
|      Gail Hays|Unit 8568 Box 484...|stephanie33@examp...|
| Yesenia Osborn|9097 Johnson Rout...|tsingleton@exampl...|
+---------------+--------------------+--------------------+

 Delta Table Version History:
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation|operationParameters                |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                           |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|0      |2025-07-18 16:50:37.223|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |null       |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2731}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+

Appended data:
+-----------------+--------------------+--------------------+
|             Name|             Address|               Email|
+-----------------+--------------------+--------------------+
|  Kathleen Conway|07623 Susan Missi...|lgonzalez@example...|
|       Paul Jones|07908 Smith Stree...|marcusfreeman@exa...|
|    Sarah Johnson|3577 Phillips Lig...|myersjessica@exam...|
|     Steven Allen|6842 Christy Port...|   cyang@example.net|
|   Katie Matthews|8861 Pham Skyway\...| karla52@example.com|
|  James Patterson|2624 Carter Gatew...|  xbaker@example.net|
|        Gail Hays|Unit 8568 Box 484...|stephanie33@examp...|
|   Yesenia Osborn|9097 Johnson Rout...|tsingleton@exampl...|
|Christian Lindsey|Unit 0888 Box 702...|joshua09@example.org|
|      Paula Meyer|7114 Andrew Fall\...|anthony08@example...|
+-----------------+--------------------+--------------------+

 Delta Table Version History:
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation|operationParameters                |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                           |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|1      |2025-07-18 16:55:51.942|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |0          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2753}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|0      |2025-07-18 16:50:37.223|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |null       |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2731}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+

Appended data:
+-----------------+--------------------+--------------------+
|             Name|             Address|               Email|
+-----------------+--------------------+--------------------+
|  Kathleen Conway|07623 Susan Missi...|lgonzalez@example...|
|       Paul Jones|07908 Smith Stree...|marcusfreeman@exa...|
|    Sarah Johnson|3577 Phillips Lig...|myersjessica@exam...|
|     Steven Allen|6842 Christy Port...|   cyang@example.net|
|   Katie Matthews|8861 Pham Skyway\...| karla52@example.com|
|  James Patterson|2624 Carter Gatew...|  xbaker@example.net|
|       Lori Smith|728 Gomez Shoals\...| katie14@example.net|
|      Emma Turner|Unit 0596 Box 991...| scott68@example.org|
|   Damon Mckenzie|1183 Walls Run Su...|robinsonmalik@exa...|
|   Tamara Sherman|41242 Justin Moto...| jhodges@example.net|
|     Eric Cochran|976 Greg Haven Su...|matthew55@example...|
|        Gail Hays|Unit 8568 Box 484...|stephanie33@examp...|
|   Yesenia Osborn|9097 Johnson Rout...|tsingleton@exampl...|
|Christian Lindsey|Unit 0888 Box 702...|joshua09@example.org|
|      Paula Meyer|7114 Andrew Fall\...|anthony08@example...|
+-----------------+--------------------+--------------------+

 Delta Table Version History:
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation|operationParameters                |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                           |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|2      |2025-07-18 17:00:59.524|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |1          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2766}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|1      |2025-07-18 16:55:51.942|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |0          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2753}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|0      |2025-07-18 16:50:37.223|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |null       |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2731}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+

Appended data:
+-----------------+--------------------+--------------------+
|             Name|             Address|               Email|
+-----------------+--------------------+--------------------+
|  Kathleen Conway|07623 Susan Missi...|lgonzalez@example...|
|       Paul Jones|07908 Smith Stree...|marcusfreeman@exa...|
|    Sarah Johnson|3577 Phillips Lig...|myersjessica@exam...|
|        Tyler Lee|27604 Anna Plains...|matthew39@example...|
|   Stephanie Soto|8213 Drew Lakes A...|annette16@example...|
|  Jonathan Parker|1607 James Rest A...|adamscassandra@ex...|
|     Steven Allen|6842 Christy Port...|   cyang@example.net|
|   Katie Matthews|8861 Pham Skyway\...| karla52@example.com|
|  James Patterson|2624 Carter Gatew...|  xbaker@example.net|
|       Lori Smith|728 Gomez Shoals\...| katie14@example.net|
|      Emma Turner|Unit 0596 Box 991...| scott68@example.org|
|   Damon Mckenzie|1183 Walls Run Su...|robinsonmalik@exa...|
|   Tamara Sherman|41242 Justin Moto...| jhodges@example.net|
|     Eric Cochran|976 Greg Haven Su...|matthew55@example...|
|        Gail Hays|Unit 8568 Box 484...|stephanie33@examp...|
|   Yesenia Osborn|9097 Johnson Rout...|tsingleton@exampl...|
|     Heather Nash|USNS Chapman\nFPO...|lucassamantha@exa...|
|   Donald Jenkins|938 Stevenson Res...|charles64@example...|
|Christian Lindsey|Unit 0888 Box 702...|joshua09@example.org|
|      Paula Meyer|7114 Andrew Fall\...|anthony08@example...|
+-----------------+--------------------+--------------------+

 Delta Table Version History:
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation|operationParameters                |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                           |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|3      |2025-07-18 17:06:06.289|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |2          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2770}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|2      |2025-07-18 17:00:59.524|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |1          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2766}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|1      |2025-07-18 16:55:51.942|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |0          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2753}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|0      |2025-07-18 16:50:37.223|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |null       |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2731}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+

Appended data:
+---------------+--------------------+--------------------+
|           Name|             Address|               Email|
+---------------+--------------------+--------------------+
|Kathleen Conway|07623 Susan Missi...|lgonzalez@example...|
|     Paul Jones|07908 Smith Stree...|marcusfreeman@exa...|
|  Sarah Johnson|3577 Phillips Lig...|myersjessica@exam...|
|   Steven Allen|6842 Christy Port...|   cyang@example.net|
| Katie Matthews|8861 Pham Skyway\...| karla52@example.com|
|James Patterson|2624 Carter Gatew...|  xbaker@example.net|
| Garrett Parker|42359 Thomas Glen...| tonya28@example.org|
|  Toni Santiago|PSC 7477, Box 308...|  jclark@example.net|
| Joseph Jackson|48922 Jennifer Pa...|  kyle27@example.net|
|     Lori Smith|728 Gomez Shoals\...| katie14@example.net|
|    Emma Turner|Unit 0596 Box 991...| scott68@example.org|
| Damon Mckenzie|1183 Walls Run Su...|robinsonmalik@exa...|
| Tamara Sherman|41242 Justin Moto...| jhodges@example.net|
|   Eric Cochran|976 Greg Haven Su...|matthew55@example...|
| Pamela Johnson|3627 Reese Rest S...| bbishop@example.org|
|     John Sharp|9460 Lane Pike Ap...|pchristensen@exam...|
|      Gail Hays|Unit 8568 Box 484...|stephanie33@examp...|
| Yesenia Osborn|9097 Johnson Rout...|tsingleton@exampl...|
|   Heather Nash|USNS Chapman\nFPO...|lucassamantha@exa...|
| Donald Jenkins|938 Stevenson Res...|charles64@example...|
+---------------+--------------------+--------------------+
only showing top 20 rows

 Delta Table Version History:
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation|operationParameters                |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                           |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|4      |2025-07-18 17:11:12.465|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |3          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2757}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|3      |2025-07-18 17:06:06.289|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |2          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2770}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|2      |2025-07-18 17:00:59.524|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |1          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2766}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|1      |2025-07-18 16:55:51.942|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |0          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2753}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|0      |2025-07-18 16:50:37.223|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |null       |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2731}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+

Appended data:
+-----------------+--------------------+--------------------+
|             Name|             Address|               Email|
+-----------------+--------------------+--------------------+
|      Jasmine Day|390 Carey Causewa...|fordrussell@examp...|
|      Steven Ward|0915 Jesse Brooks...|kingcaleb@example...|
|        Jason Day|5702 Christopher ...|tburgess@example.org|
|  Kathleen Conway|07623 Susan Missi...|lgonzalez@example...|
|       Paul Jones|07908 Smith Stree...|marcusfreeman@exa...|
|    Sarah Johnson|3577 Phillips Lig...|myersjessica@exam...|
|     Steven Allen|6842 Christy Port...|   cyang@example.net|
|   Katie Matthews|8861 Pham Skyway\...| karla52@example.com|
|  James Patterson|2624 Carter Gatew...|  xbaker@example.net|
|   Garrett Parker|42359 Thomas Glen...| tonya28@example.org|
|    Toni Santiago|PSC 7477, Box 308...|  jclark@example.net|
|   Joseph Jackson|48922 Jennifer Pa...|  kyle27@example.net|
|       Lori Smith|728 Gomez Shoals\...| katie14@example.net|
|      Emma Turner|Unit 0596 Box 991...| scott68@example.org|
|   Damon Mckenzie|1183 Walls Run Su...|robinsonmalik@exa...|
|   Pamela Johnson|3627 Reese Rest S...| bbishop@example.org|
|       John Sharp|9460 Lane Pike Ap...|pchristensen@exam...|
|     Heather Nash|USNS Chapman\nFPO...|lucassamantha@exa...|
|   Donald Jenkins|938 Stevenson Res...|charles64@example...|
|Christian Lindsey|Unit 0888 Box 702...|joshua09@example.org|
+-----------------+--------------------+--------------------+
only showing top 20 rows

 Delta Table Version History:
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation|operationParameters                |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                           |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|5      |2025-07-18 17:16:19.513|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |4          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2749}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|4      |2025-07-18 17:11:12.465|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |3          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2757}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|3      |2025-07-18 17:06:06.289|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |2          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2770}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|2      |2025-07-18 17:00:59.524|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |1          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2766}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|1      |2025-07-18 16:55:51.942|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |0          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2753}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|0      |2025-07-18 16:50:37.223|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |null       |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2731}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+

Appended data:
+-----------------+--------------------+--------------------+
|             Name|             Address|               Email|
+-----------------+--------------------+--------------------+
|      Jasmine Day|390 Carey Causewa...|fordrussell@examp...|
|      Steven Ward|0915 Jesse Brooks...|kingcaleb@example...|
|        Jason Day|5702 Christopher ...|tburgess@example.org|
|  Kathleen Conway|07623 Susan Missi...|lgonzalez@example...|
|       Paul Jones|07908 Smith Stree...|marcusfreeman@exa...|
|    Sarah Johnson|3577 Phillips Lig...|myersjessica@exam...|
|     Steven Allen|6842 Christy Port...|   cyang@example.net|
|   Katie Matthews|8861 Pham Skyway\...| karla52@example.com|
|  James Patterson|2624 Carter Gatew...|  xbaker@example.net|
|  Samantha Santos|91712 Stuart Cove...| erica51@example.org|
|    Nichole Moore|05116 Melissa Pla...|jenniferjohnson@e...|
|   Garrett Parker|42359 Thomas Glen...| tonya28@example.org|
|    Toni Santiago|PSC 7477, Box 308...|  jclark@example.net|
|   Joseph Jackson|48922 Jennifer Pa...|  kyle27@example.net|
|       Lori Smith|728 Gomez Shoals\...| katie14@example.net|
|      Emma Turner|Unit 0596 Box 991...| scott68@example.org|
|   Damon Mckenzie|1183 Walls Run Su...|robinsonmalik@exa...|
|   Pamela Johnson|3627 Reese Rest S...| bbishop@example.org|
|       John Sharp|9460 Lane Pike Ap...|pchristensen@exam...|
|Christian Lindsey|Unit 0888 Box 702...|joshua09@example.org|
+-----------------+--------------------+--------------------+
only showing top 20 rows

 Delta Table Version History:
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation|operationParameters                |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                           |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|6      |2025-07-18 17:21:26.42 |null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |5          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2819}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|5      |2025-07-18 17:16:19.513|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |4          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2749}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|4      |2025-07-18 17:11:12.465|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |3          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2757}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|3      |2025-07-18 17:06:06.289|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |2          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2770}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|2      |2025-07-18 17:00:59.524|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |1          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2766}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|1      |2025-07-18 16:55:51.942|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |0          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2753}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|0      |2025-07-18 16:50:37.223|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |null       |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2731}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+

Appended data:
+---------------+--------------------+--------------------+
|           Name|             Address|               Email|
+---------------+--------------------+--------------------+
|    Jasmine Day|390 Carey Causewa...|fordrussell@examp...|
|    Steven Ward|0915 Jesse Brooks...|kingcaleb@example...|
|      Jason Day|5702 Christopher ...|tburgess@example.org|
|      Amy Stone|46111 Barry Commo...|rickeyleonard@exa...|
|    April Ortiz|513 David Dam Apt...|perrykevin@exampl...|
|   Aaron Willis|337 Reynolds Cent...|meganpatterson@ex...|
|   Steven Allen|6842 Christy Port...|   cyang@example.net|
| Katie Matthews|8861 Pham Skyway\...| karla52@example.com|
|James Patterson|2624 Carter Gatew...|  xbaker@example.net|
|Samantha Santos|91712 Stuart Cove...| erica51@example.org|
|  Nichole Moore|05116 Melissa Pla...|jenniferjohnson@e...|
| Garrett Parker|42359 Thomas Glen...| tonya28@example.org|
|  Toni Santiago|PSC 7477, Box 308...|  jclark@example.net|
| Joseph Jackson|48922 Jennifer Pa...|  kyle27@example.net|
|     Lori Smith|728 Gomez Shoals\...| katie14@example.net|
|    Emma Turner|Unit 0596 Box 991...| scott68@example.org|
| Damon Mckenzie|1183 Walls Run Su...|robinsonmalik@exa...|
|   Julie Mendez|92319 Nichole Way...|ryanmcmahon@examp...|
|  Daniel Barker|704 Hall Extensio...|josephsmith@examp...|
| Pamela Johnson|3627 Reese Rest S...| bbishop@example.org|
+---------------+--------------------+--------------------+
only showing top 20 rows

 Delta Table Version History:
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation|operationParameters                |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                           |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|7      |2025-07-18 17:26:32.478|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |6          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2821}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|6      |2025-07-18 17:21:26.42 |null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |5          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2819}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|5      |2025-07-18 17:16:19.513|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |4          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2749}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|4      |2025-07-18 17:11:12.465|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |3          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2757}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|3      |2025-07-18 17:06:06.289|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |2          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2770}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|2      |2025-07-18 17:00:59.524|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |1          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2766}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|1      |2025-07-18 16:55:51.942|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |0          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2753}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|0      |2025-07-18 16:50:37.223|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |null       |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2731}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+

Appended data:
+-----------------+--------------------+--------------------+
|             Name|             Address|               Email|
+-----------------+--------------------+--------------------+
|      Jasmine Day|390 Carey Causewa...|fordrussell@examp...|
|      Steven Ward|0915 Jesse Brooks...|kingcaleb@example...|
|        Jason Day|5702 Christopher ...|tburgess@example.org|
|        Amy Stone|46111 Barry Commo...|rickeyleonard@exa...|
|      April Ortiz|513 David Dam Apt...|perrykevin@exampl...|
|     Aaron Willis|337 Reynolds Cent...|meganpatterson@ex...|
|     Kelli Haynes|862 Luis Loaf Apt...|christian89@examp...|
|    Kimberly Ford|17413 Anderson Wa...|martin20@example.net|
|Kristin Robertson|80057 Fisher Land...|carlos65@example.net|
|     Steven Allen|6842 Christy Port...|   cyang@example.net|
|   Katie Matthews|8861 Pham Skyway\...| karla52@example.com|
|  James Patterson|2624 Carter Gatew...|  xbaker@example.net|
|  Samantha Santos|91712 Stuart Cove...| erica51@example.org|
|    Nichole Moore|05116 Melissa Pla...|jenniferjohnson@e...|
|   Garrett Parker|42359 Thomas Glen...| tonya28@example.org|
|    Toni Santiago|PSC 7477, Box 308...|  jclark@example.net|
|   Joseph Jackson|48922 Jennifer Pa...|  kyle27@example.net|
|     Julie Mendez|92319 Nichole Way...|ryanmcmahon@examp...|
|    Daniel Barker|704 Hall Extensio...|josephsmith@examp...|
|Christian Lindsey|Unit 0888 Box 702...|joshua09@example.org|
+-----------------+--------------------+--------------------+
only showing top 20 rows

 Delta Table Version History:
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation|operationParameters                |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                           |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|8      |2025-07-18 17:31:38.84 |null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |7          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2784}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|7      |2025-07-18 17:26:32.478|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |6          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2821}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|6      |2025-07-18 17:21:26.42 |null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |5          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2819}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|5      |2025-07-18 17:16:19.513|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |4          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2749}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|4      |2025-07-18 17:11:12.465|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |3          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2757}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|3      |2025-07-18 17:06:06.289|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |2          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2770}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|2      |2025-07-18 17:00:59.524|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |1          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2766}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|1      |2025-07-18 16:55:51.942|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |0          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2753}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|0      |2025-07-18 16:50:37.223|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |null       |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2731}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+

Appended data:
+-----------------+--------------------+--------------------+
|             Name|             Address|               Email|
+-----------------+--------------------+--------------------+
|      Jasmine Day|390 Carey Causewa...|fordrussell@examp...|
|      Steven Ward|0915 Jesse Brooks...|kingcaleb@example...|
|        Jason Day|5702 Christopher ...|tburgess@example.org|
|        Amy Stone|46111 Barry Commo...|rickeyleonard@exa...|
|      April Ortiz|513 David Dam Apt...|perrykevin@exampl...|
|     Aaron Willis|337 Reynolds Cent...|meganpatterson@ex...|
|     Kelli Haynes|862 Luis Loaf Apt...|christian89@examp...|
|    Kimberly Ford|17413 Anderson Wa...|martin20@example.net|
|Kristin Robertson|80057 Fisher Land...|carlos65@example.net|
|     Steven Allen|6842 Christy Port...|   cyang@example.net|
|   Katie Matthews|8861 Pham Skyway\...| karla52@example.com|
|  James Patterson|2624 Carter Gatew...|  xbaker@example.net|
|    Susan Ramirez|861 Rice Fields\n...|murraykelly@examp...|
|       Rose Stone|026 Perez Shores\...|hgonzales@example...|
|      Seth Rivera|49801 Matthews Ri...|ddaugherty@exampl...|
|  Samantha Santos|91712 Stuart Cove...| erica51@example.org|
|    Nichole Moore|05116 Melissa Pla...|jenniferjohnson@e...|
|   Garrett Parker|42359 Thomas Glen...| tonya28@example.org|
|    Toni Santiago|PSC 7477, Box 308...|  jclark@example.net|
|   Joseph Jackson|48922 Jennifer Pa...|  kyle27@example.net|
+-----------------+--------------------+--------------------+
only showing top 20 rows

 Delta Table Version History:
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation|operationParameters                |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                           |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|9      |2025-07-18 17:36:44.664|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |8          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2757}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|8      |2025-07-18 17:31:38.84 |null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |7          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2784}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|7      |2025-07-18 17:26:32.478|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |6          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2821}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|6      |2025-07-18 17:21:26.42 |null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |5          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2819}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|5      |2025-07-18 17:16:19.513|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |4          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2749}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|4      |2025-07-18 17:11:12.465|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |3          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2757}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|3      |2025-07-18 17:06:06.289|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |2          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2770}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|2      |2025-07-18 17:00:59.524|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |1          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2766}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|1      |2025-07-18 16:55:51.942|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |0          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2753}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|0      |2025-07-18 16:50:37.223|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |null       |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2731}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+

Appended data:
+---------------+--------------------+--------------------+
|           Name|             Address|               Email|
+---------------+--------------------+--------------------+
|    Jasmine Day|390 Carey Causewa...|fordrussell@examp...|
|    Steven Ward|0915 Jesse Brooks...|kingcaleb@example...|
|      Jason Day|5702 Christopher ...|tburgess@example.org|
|      Amy Stone|46111 Barry Commo...|rickeyleonard@exa...|
|    April Ortiz|513 David Dam Apt...|perrykevin@exampl...|
|   Aaron Willis|337 Reynolds Cent...|meganpatterson@ex...|
|   Steven Allen|6842 Christy Port...|   cyang@example.net|
| Katie Matthews|8861 Pham Skyway\...| karla52@example.com|
|James Patterson|2624 Carter Gatew...|  xbaker@example.net|
|  Susan Ramirez|861 Rice Fields\n...|murraykelly@examp...|
|     Rose Stone|026 Perez Shores\...|hgonzales@example...|
|    Seth Rivera|49801 Matthews Ri...|ddaugherty@exampl...|
|Samantha Santos|91712 Stuart Cove...| erica51@example.org|
|  Nichole Moore|05116 Melissa Pla...|jenniferjohnson@e...|
| Garrett Parker|42359 Thomas Glen...| tonya28@example.org|
|  Toni Santiago|PSC 7477, Box 308...|  jclark@example.net|
| Joseph Jackson|48922 Jennifer Pa...|  kyle27@example.net|
|Kimberly Tucker|595 Maynard Tunne...|phyllis17@example...|
| Xavier Edwards|86915 Kenneth Est...|   xchen@example.net|
|Nathaniel Welch|3346 Debra Landin...|justinjones@examp...|
+---------------+--------------------+--------------------+
only showing top 20 rows

 Delta Table Version History:
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation|operationParameters                |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                           |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+
|10     |2025-07-18 17:41:50.074|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |9          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2876}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|9      |2025-07-18 17:36:44.664|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |8          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2757}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|8      |2025-07-18 17:31:38.84 |null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |7          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2784}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|7      |2025-07-18 17:26:32.478|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |6          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2821}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|6      |2025-07-18 17:21:26.42 |null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |5          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2819}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|5      |2025-07-18 17:16:19.513|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |4          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2749}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|4      |2025-07-18 17:11:12.465|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |3          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2757}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|3      |2025-07-18 17:06:06.289|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |2          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2770}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|2      |2025-07-18 17:00:59.524|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |1          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2766}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|1      |2025-07-18 16:55:51.942|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |0          |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2753}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
|0      |2025-07-18 16:50:37.223|null  |null    |WRITE    |{mode -> Append, partitionBy -> []}|null|null    |null     |null       |Serializable  |true         |{numFiles -> 2, numOutputRows -> 5, numOutputBytes -> 2731}|null        |Apache-Spark/3.4.1 Delta-Lake/2.4.0|
+-------+-----------------------+------+--------+---------+-----------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------+------------+-----------------------------------+